/**
* CSS customization is done here
*
*/

//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//
// Variables
@import "variables";
//
// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


/**
 * My custom CSS Adjustment starts from here onwards
 *
 * Note: After changes dont forget to run: npm run production
 *
 * The compiled css data will go to the file: public/css/app.css
 * See webpack.mix.js file
 */
#admin-page{
  padding-top:0px;
}

